.wishlist-item {
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    width: 15vw;

    .wishlist-item-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        display: block;
    }

    .wishlist-item-title {
        font-size: 1.3vw;
        margin-bottom: 10px;
    }
}
