.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 10vw;
    }

    h2 {
        margin: 3vh;
    }

    .formList {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            padding: 2vh;
            margin: 1vh;
            border: 1px solid #ddd;
            border-radius: 4px;
            min-width: 20vw;

            &:focus {
                outline: none;
                border-color: #007bff;
            }
        }

        button {
            padding: 2vh;
            margin: 1vh;
            border: 1px solid #ddd;
            border-radius: 4px;
            min-width: 22vw;

            background-color: #ffa43c;
            color: black;

            cursor: pointer;
            &:hover {
                background-color: #ce8430;
            }
        }
    }
}

.signup {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

a{
    color: black;
}

.offer{
    display: flex;
    flex-direction: row;
}

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}